name: CI

on: [push, pull_request]

jobs:
  industrial_ci:
    strategy:
      matrix:
        env:
          - {ROS_DISTRO: foxy, ROS_REPO: main}
          - {ROS_DISTRO: foxy, ROS_REPO: testing}
          - {ROS_DISTRO: humble, ROS_REPO: main}
          - {ROS_DISTRO: humble, ROS_REPO: testing}
          - {ROS_DISTRO: rolling, ROS_REPO: main}
          - {ROS_DISTRO: rolling, ROS_REPO: testing}
    env:
      CCACHE_DIR: ~/.ccache
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      # step up caching
      - uses: actions/cache@v2
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-${{ matrix.env.ROS_DISTRO }}-${{ matrix.env.ROS_REPO }}
      # Run industrial_ci
      - uses: 'ros-industrial/industrial_ci@master'
        env: ${{matrix.env}}
